@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --font: #212427;
    --background: #f2f2f2;
}

header, section, footer, nav, figure{
    display: block;
}

.background-image{
    height: 100%;
    width: 100%;
    background-image: url("images/background-image.webp");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


/*DROPDOWN*/
.dropdown {
    display: flex;
    justify-content: center;
    height: auto;
    padding: 5px;
    font-family: 'Exo 2', sans-serif;
    font-size: 2rem;
    background-color: var(--headerbg);
    line-height: 3;
}

.icon{
    width: 45px;
    height: 5px;
    margin: 6px;
    background-color: var(--white);
}

li{
    list-style: none;
}

a:link{
    color: var(--white);
    text-decoration: none;
}
a:visited{
    color: rgb(22, 87, 141);
}
a:hover{
    color: rgba(22, 87, 141, 0.256);
    font-style: italic;
}
  
.dropdown-list {
    display: none;
    position: absolute;
    text-align: center;
    min-width: 100%;
    padding: 20px 16px;
    z-index: 1;
    background-color: var(--headerbg);
}
  
.dropdown:hover .dropdown-list {
    display: block;
}