@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    font-family: 'Exo 2', sans-serif;
    font-family: 'DM Sans', sans-serif;
    --font: #333A41;
    --white: #EBF2FD;
    --clicked: rgb(153, 221, 17);
    --hover: #cf1e5c;
}

header, section, footer, nav, figure{
    display: block;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

.background-image{
    height: 100%;
    width: 100%;
    background-image: url("images/background-image.webp");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}



/*INDEX*/
.author{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 72vh;
    text-transform: uppercase;
}

h1{
    font-size: 4rem;
    font-weight: lighter;
    color: var(--font);
}

h2{
    font-size: 5rem;
    color: var(--font);
}



/*DROPDOWN*/
.dropdown {
    display: flex;
    justify-content: center;
    height: auto;
    padding: 5px;
    font-size: 2rem;
    background-color: var(--font);
    line-height: 2.5;
}

.icon{
    width: 45px;
    height: 5px;
    margin: 6px;
    background-color: var(--white);
}

li{
    list-style: none;
}

a:link{
    color: var(--white);
    text-decoration: none;
}
a:visited{
    color: var(--clicked);
}
a:hover{
    color: var(--hover);
    font-style: italic;
}
  
.dropdown-list {
    display: none;
    position: absolute;
    text-align: center;
    min-width: 100%;
    padding: 20px 16px;
    z-index: 1;
    background-color: var(--font);
}
  
.dropdown:hover .dropdown-list {
    display: block;
}



/*MENU*/
.top-menu{
    height: auto;
}

.bottom-menu{
    margin: 0;
}
.bottom-menu ul{
    margin: 0;
}

.menu-list{
    color: var(--font);
    font-size: 2rem;
    text-transform: uppercase;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.menu-list a:link{
    color: var(--font);
    text-decoration: none;
}
.menu-list a:visited{
    color: var(--font);
}
.menu-list a:hover{
    font-weight: lighter;
    font-style: normal;
}



/*WRAPPERS*/
.content{
    margin-bottom: 100px;
}
.header-box{
    padding: 10px 0 0 10px;
}

.webdev-container{
    display: flex;
    justify-content: center;
}
.webdev-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 30px;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid var(--font);
    box-shadow: 15px 15px 20px var(--font);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 1500px;
}
.webdev-wrapper img{
    width: 130px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--font);
}
figcaption{
    font-size: 2rem;
    text-transform: uppercase;
    word-wrap: break-word;
    width: 30rem;
    margin: 10px 0 50px 0;
}
.contact-wrapper{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid var(--font);
    box-shadow: 15px 15px 20px var(--font);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: auto;
}
.contact-wrapper p, ul{
    margin: 20px;
    line-height: 1.5;
    font-size: 2rem;
    margin: 20px;
}
.contact-wrapper a:link{
    color: var(--font);
    text-decoration: none;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 1.5;
}
.contact-wrapper a:visited{
    color: var(--clicked);
}
.contact-wrapper a:hover{
    color: var(--hover);
    font-style: normal;
}


.about-wrapper{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid var(--font);
    box-shadow: 15px 15px 20px var(--font);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: auto;
    max-width: 750px;
}
.about-wrapper p{
    margin: 20px;
    line-height: 1.5;
    font-size: 2rem;
    margin: 20px;
}



/*HOME BUTTON*/
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 300px 0 50px 0;
    width: 100%;
    bottom: 0;
}

.home a{
    border-top: 2px solid var(--font);
    border-bottom: 2px solid var(--font);
    padding: 15px;
    color: var(--font);
    font-size: 2rem;
    text-transform: uppercase;
}



@media screen and (min-width: 550px) {/*1280*/
    .index-anchor {
        padding: 3px;
        background-color: #EBF2FD;
        border-top: 2px solid var(--font);
        border-bottom: 2px solid var(--font);

    }

    .about-wrapper{
        margin-bottom: 500px;
    }

    .webdev-wrapper{
        flex-direction: row;
    }

    .home{
        margin-top: 400px;
    }

    .home-anchor {
        background-color: #ebf2fd62;
    }
}
